<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>



<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Adicionando JQuery -->
    <script crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.css" rel="stylesheet" type="text/css"/>


<!-- onde todos botão do form input do tipo submit sejam da cor branca  <!-- 

bordar na tabela opcional
table {
width: 100%
}

table td, table th {
border: 1px solid grey;
}

table th  {
background: #eee;
}
-->
<style type="text/css">
form input[type=submit] {
	color: white;
}


</style>


</head>
<body>
	<div class="row col s12">

		<div class="col s9">
			<h3 style="margin-left: 20px;">Spring Boot + Thymeleaf +
				Material Design Lite</h3>
		</div>

		<div class="col s2" style="margin-top: 10px">
			<a class="waves-effect waves-light btn" type="submit" href="/logout">Logout</a>
		</div>
	</div>
	<!-- url do controller pra salvar a pessoa -->
	<!-- vai trabalhar com objeto ai passa essa tag do thymeleaf th:object="pessoaobj" obj do controller -->

	<div th:each="m : ${msg}">
		<!-- each vai varrer uma lista a de erros -->
		<span th:text=${m}
			style="color: red; font-size: 20px; margin-left: 20px; margin-top: 30px;">
		</span>
		<!-- passa um texto com nosso objeto de msg dos erro de validação -->
	</div>

	<fieldset style="margin-top: 60px;">
		<legend style="text-align: center; font-size: 20px;">Cadastro
			de Pessoa</legend>
		<div class="row">

			<form action="salvarpessoa" method="post" th:object="${pessoaobj}"
				class="col s12" id="formpessoa" enctype="multipart/form-data">
				<!-- coluna é feito pelo tamanho 12 -->

				<div class="row">
					<!-- vao ficar dentro de uma linha -->

					<div class="input-fiel col s6">
						<label for="id">ID</label> <input name="id" th:field="*{id}"
							readonly="readonly" id="id">
						<!-- aponta os atributos que vamos por em edição th:field -->
					</div>

					<div class="input-fiel col s6">
						<label for="nome" class="active">Nome</label> <input name="nome"
							autocomplete="name" th:field="*{nome}" id="nome" class="validate"
							placeholder="Informe o nome">
					</div>

				</div>

				<div class="row">
					<div class="input-fiel col s6">
						<label for="sobrenome" class="active">Sobrenome</label> <input
							name="sobrenome" th:field="*{sobrenome}" id="sobrenome"
							class="validate">

					</div>
					<div class="input-fiel col s6">
						<label for="profissao" class="active">Profissão</label> <select
							class="browser-default" id="profissao" th:field="*{profissao}">
							<option value="">Selecione Profissão</option>
							<option th:each="p : ${profissoes}" th:value="${p.id}"
								th:text="${p.nome}">
						</select>

					</div>
				</div>

				<!-- sec:authorize="hasRole('ROLE_CAIXA')"  so admin pode acessar massa -->
				<div class="row" sec:authorize="hasRole('ROLE_CAIXA')">
					<div class="input-fiel col s6">
						<label for="idade" class="active">Idade</label> <input
							name="idade" th:field="*{idade}" type="number" maxlength="2"
							id="idade" class="validate" placeholder="sua idade">
					</div>
					<div class="input-fiel col s6">

						<label for="sexopessoa" class="active">Sexo</label> <select
							th:field="*{sexopessoa}" class="browser-default" id="sexopessoa">
							<!--th:field endica a model desse atributo da pessoa  -->
							<!-- pega layout do propio navegador -->
							<option value="">Selecione</option>
							<option value="MASCULINO" th:text="Masculino"></option>
							<option value="FEMININO" th:text="Feminino"></option>

						</select>
					</div>
				</div>

				<div class="row">

					<div class="input-fiel col s6">
						<label for="cargo" class="active">Cargos</label> <select
							class="browser-default" id="cargo" th:field="*{cargo}">
							<option value="">Selecione um Cargo</option>
							<option th:each="c : ${T(curso.springboot.model.Cargo).values()}"
								th:value="${c.valor}" th:text="${c.nome}">
						</select>

					</div>
					<div class="input-fiel col s6">
                    <label for="dataNascimento">Data Nascimento:</label>
                    <input type="date" id="dataNascimento" th:fiel="*{dataNascimento}"
                           name="dataNascimento" placeholder="Data Nasc.">
                </div>

				</div>

				<div class="row">
					<div class="input-fiel col s12 ">

						<div class="file-field input-field">
							<div class="btn">
								<label for="file" class="active" style="color:white">Curricúlo</label> <input
									type="file" id="file" name="file" class="validate">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text">
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="cep" class="active">Cep</label> <input name="cep"
							th:field="*{cep}" id="cep" class="validate"
							placeholder="Digite um cep válido">
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="rua" class="active">Rua</label> <input name="rua"
							th:field="*{rua}" id="rua" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="bairro" class="active">Bairro</label> <input
							name="bairro" th:field="*{bairro}" id="bairro" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="cidade" class="active">Cidade</label> <input
							name="cidade" th:field="*{cidade}" id="cidade" class="validate">
					</div>
				</div>
				
				<div class="row">
					<div class="input-fiel col s12">
						<label for="complemento" class="active">Complemento</label> <input
							name="complemento" th:field="*{complemento}" id="complemento" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="uf" class="active">UF</label> <input name="uf"
							th:field="*{uf}" id="uf" class="validate">
					</div>
				</div>

				<div class="row">
					<div class="input-fiel col s12">
						<label for="ibge" class="active">Ibge</label> <input name="ibge"
							th:field="*{ibge}" id="ibge" class="validate">
					</div>
				</div>


				<div class="row">
				<div class="input-field col s6">
					<input class="waves-effect waves-light btn" type="submit"
						value="Salvar">
						
					<button class="waves-effect waves-light btn"
					 onclick="document.getElementById('formpessoa').reset();" 
					 form="disabled">Novo</button>
						
				</div>
				</div>
				
			</form>
			
		</div>
	
	
	
	</fieldset>



	<fieldset>
		<legend style="text-align: center; font-size: 20px;">Campos
			de pesquisa</legend>

		<div class="row">
			<form action="pesquisarpessoa" style="margin-top: 40px;"
				method="post" class="col s12" id="pesquisarpessoa">

				<div class="col s6">
					<label for="nomepesquisa" class="active">Pesquisa por nome:</label>
					<input name="nomepesquisa" id="nomepesquisa" class="validate" 
					th:value="${nomepesquisa}">

					<div class="col 12">
						<input type="submit" value="Buscar"
							class="waves-effect waves-light blue btn"> <input
							type="submit" value="PDF"
							class="waves-effect waves-light grey btn"
							onclick="document.getElementById('pesquisarpessoa').method = 'get'">

					</div>
				</div>




				<div class="col s6">
					<label for="pesqsexo" class="active">Pesquisa Sexo</label> <select
						class="browser-default" name="pesqsexo" id="pesqsexo">
						<option value="">Todos</option>
						<option value="MASCULINO" th:text="Masculino"></option>
						<option value="FEMININO" th:text="Feminino"></option>
					</select>
				</div>

			</form>
		</div>

	</fieldset>

	<div class="row">
		<a class="waves-effect waves-light btn col s12" href="/listapessoas"
			style="margin-top: 10px;">Lista de Pessoas</a>
	</div>

	<div class="row">
		<table style="margin-top: 15px;" class="striped col s12">

			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Curricúlo</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>

			<!-- pessoas é oq vai vir do banco de dados e pessoa é oque vai interar / usar pra mostrar na tela -->
			<tr th:each="pessoa : ${pessoas.content}"> <!-- conteudo da lista pra ficar definido -->
				<td th:text="${pessoa.id}" width="100" />
				<td><a style="color: black;"
					th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span
						th:text="${pessoa.nome}"></span></a></td>	
				
				<td th:text="${pessoa.sobrenome}" />
				
				<td><a
				    th:if="${pessoa.curriculo} != null"
					th:href="@{/baixarcurriculo/{idpessoa}(idpessoa=${pessoa.id})}"
					class="waves-effect waves-light grey btn">Dowload</a>
					<a   th:if="${pessoa.curriculo} == null" class="waves-effect waves-light orange btn">Não Existe</a>
					</td>
				
				<!-- editar o parametros junto com o idpesosa id da pessoa onde o idpessoa é igual o id da linha -->
				<td><a
					th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
					class="waves-effect waves-light btn">Editar</a></td>
				<td><a
					th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}"
					class="waves-effect waves-light red btn">Excluir</a></td>
			</tr>
		</table>
	</div>

   
   <div class="row" style="margin-top: 30px; text-align:center; font-size:18px;">
 
 
     <span th:if="${pessoas.hasPrevious()}"> <!-- se tiver avançado a paginação e tiver paginas anteriores pra ser mostrada pode retroceder -->
         <a th:href="@{/pessoaspag(page=${pessoas.number-1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">Anterior</a>
     </span>
     
     
  <!-- i é o indice daonde começa , sequencia 0 tb onde começa, pessoas que tem todos os dados e o total de paginas - 1 pq retorna array iniciando em 0 -->
    <th:block th:each="i: ${#numbers.sequence(0, pessoas.totalPages - 1)}"> 
            <a th:href="@{/pessoaspag(page=${i}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">[[ ${i} + 1 ]],</a>
            <!-- método do nosso backend de paginação na posiçaõ do i  [[ ${i} +1 ]] montar a paginação pra gente na tela-->
    </th:block>
    
    <span th:if="${pessoas.hasNext()}"> <!-- eqnt tiver páginas pela frente ele vai avaçar até o seu máximo da size tamanho da página -->
         <a th:href="@{/pessoaspag(page=${pessoas.number+1}, size=${pessoas.size}, nomepesquisa=${nomepesquisa})}">Próximo</a>
     </span>
    
 
</div>


	<footer class="page-footer grey">

		<div class="row">
			<div class="container" style="justify-content: center; display: flex">
				© 2021 Copyright Text
				</div>
		</div>
	</footer>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<!-- Adicionando Javascript -->
	<script>
		$(document)
				.ready(
						function() {
							$('#dataNascimento').datepicker({
								showOthermonths : false,
								format : 'yyyy-mm-dd'
							});

							function limpa_formulário_cep() {
								// Limpa valores do formulário de cep.
								$("#rua").val("");
								$("#bairro").val("");
								$("#cidade").val("");
								$("#uf").val("");
								$("#ibge").val("");
							}

							//Quando o campo cep perde o foco.
							$("#cep")
									.blur(
											function() {

												//Nova variável "cep" somente com dígitos.
												var cep = $(this).val()
														.replace(/\D/g, '');

												//Verifica se campo cep possui valor informado.
												if (cep != "") {

													//Expressão regular para validar o CEP.
													var validacep = /^[0-9]{8}$/;

													//Valida o formato do CEP.
													if (validacep.test(cep)) {

														//Preenche os campos com "..." enquanto consulta webservice.
														$("#rua").val("...");
														$("#bairro").val("...");
														$("#cidade").val("...");
														$("#uf").val("...");
														$("#ibge").val("...");

														//Consulta o webservice viacep.com.br/
														$
																.getJSON(
																		"https://viacep.com.br/ws/"
																				+ cep
																				+ "/json/?callback=?",
																		function(
																				dados) {

																			if (!("erro" in dados)) {
																				//Atualiza os campos com os valores da consulta.
																				$(
																						"#rua")
																						.val(
																								dados.logradouro);
																				$(
																						"#bairro")
																						.val(
																								dados.bairro);
																				$(
																						"#cidade")
																						.val(
																								dados.localidade);
																				$(
																						"#uf")
																						.val(
																								dados.uf);
																				$(
																						"#ibge")
																						.val(
																								dados.ibge);
																			} //end if.
																			else {
																				//CEP pesquisado não foi encontrado.
																				limpa_formulário_cep();
																				alert("CEP não encontrado.");
																			}
																		});
													} //end if.
													else {
														//cep é inválido.
														limpa_formulário_cep();
														alert("Formato de CEP inválido.");
													}
												} //end if.
												else {
													//cep sem valor, limpa formulário.
													limpa_formulário_cep();
												}
											});
						});
	</script>
</body>
</html>