<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      
      <!-- onde todos botão do form input do tipo submit sejam da cor branca -->
      <style type="text/css">
      form input[type=submit] {
      color:white
      }
     
      </style>
</head>
<body>
	<h3 style=" margin-left:20px;">Spring Boot + Thymeleaf + Material Design Lite</h3>
	<h5 style="margin-top:40px; margin-left:20px;">Cadastro de Pessoa</h5>
	<!-- url do controller pra salvar a pessoa -->
	<!-- vai trabalhar com objeto ai passa essa tag do thymeleaf th:object="pessoaobj" obj do controller -->
	
	<div th:each = "m : ${msg}"> <!-- each vai varrer uma lista a de erros -->
	      <span th:text = ${m} style="color:red; font-size:20px; margin-left:20px; margin-top:30px;">
	      </span> <!-- passa um texto com nosso objeto de msg dos erro de validação -->
	</div>
	
	<div class="row">
	
	<form action="salvarpessoa" method="post" th:object="${pessoaobj}" class="col s6" id="formpessoa"><!-- coluna é feito pelo tamanho 12 -->

        <div class="row">     <!-- vao ficar dentro de uma linha -->

				<div class="input-fiel col s6">
					<label for="id">ID</label> <input name="id" th:field="*{id}"
						readonly="readonly" id="id">
					<!-- aponta os atributos que vamos por em edição th:field -->
				</div>

				<div class="input-fiel col s6">
					<label for="nome" class="active">Nome</label> <input name="nome" 
						autocomplete="name" th:field="*{nome}" id="nome" class="validate">
				</div>

			</div>     
		
		<label for="sobrenome" class="active">Sobrenome</label> 
		<input name="sobrenome"  th:field="*{sobrenome}" id="sobrenome" class="validate"> 
		
		<label for="idade" class="active">Idade</label>
		 <input name="idade"  th:field="*{idade}" type="number" maxlength="2" id="idade" class="validate" required="required">
		
		<div class="row">
		<div class="input-field col s12">
		<input class="waves-effect waves-light btn" type="submit" value="Salvar"/>
		
		<button class="waves-effect waves-light btn"  onclick="document.getElementById('formpessoa').reset(); ">Novo</button>
		</div>
		</div>
	</form>
	</div>
	
	<div class="row">
	<a class="waves-effect waves-light btn col s12" href="/listapessoas" style="margin-top:10px;" >Lista de Pessoas</a>
	</div>

	<div class="row">
		<form action="pesquisarpessoa" style="margin-top: 20px;" method="post"
			class="col s5">
			<label for="nomepesquisa" class="active">Pesquisa por nome:</label> <input
				name="nomepesquisa" id="nomepesquisa" class="validate"> <input
				type="submit" value="Buscar"
				class="waves-effect waves-light blue btn">
		</form>
	</div>
  
  
    <div class="row">
	<table style="margin-top:15px; margin-left:5px" class="striped col s12">
	
	<thead>
          <tr>
          <th>Id</th>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Idade</th>
              <th>Editar</th>
              <th>Excluir</th>
          </tr>
        </thead>
	
	<!-- pessoas é oq vai vir do banco de dados e pessoa é oque vai interar / usar pra mostrar na tela -->
	<tr th:each = "pessoa : ${pessoas}">
	<td th:text = "${pessoa.id}"></td>
	<td><a style="color:black;" th:href="@{/telefones/{idpessoa}(idpessoa=${pessoa.id})}"><span th:text = "${pessoa.nome}"></span></a></td>
	<td th:text = "${pessoa.sobrenome}"></td>
	<td th:text = "${pessoa.idade}"></td>
	<!-- editar o parametros junto com o idpesosa id da pessoa onde o idpessoa é igual o id da linha -->
	<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" class="waves-effect waves-light btn" >Editar</a></td>
		<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}" class="waves-effect waves-light red btn" >Excluir</a></td>
	</tr>
	</table>
	</div>
	
	
	
	
        <footer class="page-footer grey">
         
          <div>
            <div class="container" style="justify-content:center; display:flex" >
            © 2021 Copyright Text
          
            </div>
          </div>
        </footer>
	
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>