<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
	<h1>Cadastro de pessoa</h1>
	<!-- url do controller pra salvar a pessoa -->
	<!-- vai trabalhar com objeto ai passa essa tag do thymeleaf th:object="pessoaobj" obj do controller -->
	<form action="salvarpessoa" method="post" th:object="${pessoaobj}">
           
        <label>ID</label> 
        
        <input name="id" th:field="*{id}" readonly="readonly">  <!-- aponta os atributos que vamos por em edição th:field -->

			<label>Nome</label> <input name="nome" required="required" autocomplete="name" th:field="*{nome}"> 
		
		<label>Sobrenome</label> <input name="sobrenome" required="required" th:field="*{sobrenome}"> 
		
		<label>Idade</label> <input name="idade" required="required" maxlength="2" th:field="*{idade}"  >
		
		<input class="waves-effect waves-light btn" type="submit" value="Salvar" style="color:white;"/>
		
	</form>
	
	<a class="waves-effect waves-light btn" href="/listapessoas" style="margin-top:19px;">Usuários Cadastrados</a>
	
	<table>
	<!-- pessoas é oq vai vir do banco de dados e pessoa é oque vai interar / usar pra mostrar na tela -->
	<tr th:each = "pessoa : ${pessoas}">
	<td th:text = "${pessoa.id}"></td>
	<td th:text = "${pessoa.nome}"></td>
	<td th:text = "${pessoa.sobrenome}"></td>
	<!-- editar o parametros junto com o idpesosa id da pessoa onde o idpessoa é igual o id da linha -->
	<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}" class="waves-effect waves-light btn" >Editar</a></td>
		<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}" class="waves-effect waves-light red btn" >Excluir</a></td>
	</tr>
	
	</table>
	
	
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>