<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      
      <!-- onde todos botão do form input do tipo submit sejam da cor branca -->
      <style type="text/css">
      form input[type=submit] {
      color:white
      }
     
      </style>
</head>
<body>
	<h5 style="margin-top:70px; margin-left:20px;">Cadastro de Pessoa</h5>
	
	
	<div th:each="p: ${pessoaobj}"><!-- variavel que carrego do banco passando para o p -->
	
	<div class="row">
	<div class="col s6">
	<p><b>ID:</b><span th:text="${p.id}"></span></p>
	<p><b>Nome:</b> <span th:text="${p.nome}"></span></p>
	<p><b>Sobrenome:</b> <span th:text="${p.sobrenome}"></span></p>
	<p><b>Idade:</b> <span th:text="${p.idade}"></span></p>
	</div>
	</div>
	</div>
	
	<h5 style= margin-left:20px;>Telefones</h5>
	
	<div th:each = "m : ${msg}"> <!-- each vai varrer uma lista a de erros -->
	      <span th:text = ${m} style="color:red; font-size:20px; margin-left:20px; margin-top:30px;">
	      </span> <!-- passa um texto com nosso objeto de msg dos erro de validação -->
	</div>
	
	<div class="row" style="margin-top:45px;">
	                                                   <!-- vai pegar o id da pessoa pelo obj -->
	<form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s9" onsubmit="return validarCampos()? true : false">
	
	<div class="row">
	
	<div class="input-field col s6">
	   <label class="active" for="numero">Número</label>
	   <input id="numero" name="numero" class="validate" required="required" >
	</div>
	
	<div class="input-field col s6">
	    <label class="active" for="tipo">Tipo</label>
	   <input id="tipo" name="tipo" class="validate"  required="required">
	</div>
	
	<div class="row" style="margin-left:10px;">
	<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
	</div>
	</div>
	
	
	</form>
	
	</div>
		<a style="margin-left:10px;" class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro de Pessoas</a>

   <div class="row">
	<table style="margin-top: 15px; margin-left: 5px"
		class="striped col s12">

		<thead>
			<tr>
				<th>Numero</th>
				<th>Tipo</th>

			</tr>
		</thead>
     
		<tr th:each="fone : ${telefones}">
		
			<td th:text="${fone.numero}" />
			
			<td th:text="${fone.tipo}" />
	<td><a th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}" class="waves-effect waves-light red btn" >Excluir</a></td>
		</tr>
	</table>
</div>
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      
      
      <script type="text/javascript">
      function validarCampos() {
    	  
    	  numero = document.getElementById('numero').value;
    	  tipo = document.getElementById('tipo').value;

    	  if(numero === '') {
    		  alert('Numero deve ser informado')
    		  return false;
    		  
    	  }else if(tipo === '') {
    		  alert('Tipo deve ser Informado')
    		  return false;
    	  
    	  }
    	  
    	  alert(`${numero} Cadastrado com Sucesso!`)
    	  return true
    	  
      }
      </script>
</body>
</html>