<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
      
      <!-- onde todos botão do form input do tipo submit sejam da cor branca -->
      <style type="text/css">
      form input[type=submit] {
      color:white
      }
     
      </style>
</head>
<body>
	<h5 style="margin-top:70px; margin-left:20px;">Cadastro de Pessoa</h5>
	
	
	<div th:each="p: ${pessoaobj}"><!-- variavel que carrego do banco passando para o p -->
	
	<div class="row">
	<div class="col s6">
	<p>Nome: <span th:text="${p.id}"></span></p>
	<p>Nome: <span th:text="${p.nome}"></span></p>
	<p>Sobrenome: <span th:text="${p.sobrenome}"></span></p>
	<p>Idade: <span th:text="${p.idade}"></span></p>
	</div>
	</div>
	</div>
	
	<h5 style= margin-left:20px;>Telefones</h5>
	
	<div class="row" style="margin-top:45px;">
	                                                   <!-- vai pegar o id da pessoa pelo obj -->
	<form th:action="@{/addfonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s9">
	
	<div class="row">
	
	<div class="input-field col s6">
	   <label class="active" for="numero">Número</label>
	   <input id="numero" name="numero" class="validate">
	</div>
	
	<div class="input-field col s6">
	    <label class="active" for="tipo">Tipo</label>
	   <input id="tipo" name="tipo" class="validate">
	</div>
	
	<div class="row" style="margin-left:10px;">
	<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
	</div>
	</div>
	
	
	</form>
	
	</div>
	
	<a style="margin-left:20px; margin-top:30px;" class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro de Pessoas</a>
	  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>