<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div style="margin-left:150px; margin-top:130px;">
<h1>Olá Spring Boot Página inicial</h1>
<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastrar Pessoa</a>
</div>


  <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>