<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Index</title>
 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
</head>
<body>
<h1>Olá spring Boot</h1>
<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastrar Pessoa</a>


  <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>